{% extends "servicios.html" %}

{% block title %} Crear Proveedor {% endblock %}

{% block contentimg %}



<div class="formulario">
    <h1>CREAR PROVEEDORES</h1>
    <form id="limpiarform" action="/guardar" method="POST">
        <fieldset>

            <div>
            <label>Cod: </label><input type="number" name="codigo">
            </div>
            
            <div>
            <label>Nombre: </label><input type="text" name="name">
            </div>

            <div>
            <label>Razon social: </label><input type="text" name="razonsocial">
            </div>

            <div>
            <label>Domicilio: </label><input type="text" name="domicilio">
            </div>

            <div>
            <label>Codigo Postal: </label><input type="number" name="postal">
            </div>
    
            <div>
            <label>Localidad: </label><input type="text" name="localidad">
            </div>

            <div>
            <label>Provincia: </label><input type="text" name="provincia">
            </div>

            <div>
            <label>País: </label><input type="text" name="pais">
            </div>

            <div>
            <label>Teléfono: </label><input type="number" name="tlf">
            </div>

            <div>
            <label>Email: </label><input type="email" name="correo">
            </div>

            <div>
                <label>Web: </label><input type="text" name="web">
            </div>

            <div>
                <label>RUT: </label><input type="text" name="rut">
            </div>

            <div class="observaciones">
                <label>Observaciones: </label><Textarea></Textarea>
            </div>

            <input class="btn" type="submit"/>

        </fieldset>
        
            



            
    </form>
</div>
<script>
    document.getElementById("limpiarform").reset();
</script>

{% endblock %}