{% extends "servicios.html" %}

{% block title %} Editar Proveedor {% endblock %}

{% block contentimg %}
<br>
<br>
<br>
<div id="buscar">
    <form action="/editar", method="POST">
        <label>Buscar: </label><input type="search" name="datos2">


        <input type="submit" value="Buscar">
        
    </form>
    <input type="submit" value="Editar">
</div>
<div class="tabla">
    <!-- {% if busqueda2 != "" %} -->
    <table align="center">

        <tr>
            <th>Cod</th>
            <th>Nombre</th>
            <th>Razón Social</th>
            <th>Domicilio</th>
            <th>Código Postal</th>
            <th>Localidad</th>
            <th>Provincia</th>
            <th>Pais</th>
            <th>Teléfono</th>
            <th>Correo</th>
            <th>Web</th>
            <th>Rut</th>
        </tr>
        <tr>
            <td>{{key}}</td>
            <td>{{busqueda2["nombre"]}}</td>
            <td>{{busqueda2["rsocial"]}}</td>
            <td>{{busqueda2["domicilio"]}}</td>
            <td>{{busqueda2["postal"]}}</td>
            <td>{{busqueda2["localidad"]}}</td>
            <td>{{busqueda2["provincia"]}}</td>
            <td>{{busqueda2["pais"]}}</td>
            <td>{{busqueda2["telefono"]}}</td>
            <td>{{busqueda2["correo"]}}</td>
            <td>{{busqueda2["web"]}}</td>
            <td>{{busqueda2["rut"]}}</td> <br>
        </tr>

    </table>

</div>

<div class="content-form-proveedor">
    <h1>Editar Proveedor</h1>


    <div class="formulario-wrapper">
        <div class="proveedores-form">
            <form id="limpiarform" action="/guardaredit" method="POST">
                <p>
                    <label>Nombre: </label>
                    <input type="text" name="name2" value="{{busqueda2["nombre"]}}">
                </p>

                <p>
                    <label>Razon social: </label>
                    <input type="text" name="razonsocial2" value="{{busqueda2["rsocial"]}}">
                </p>

                <p>
                    <label>Domicilio: </label>
                    <input type="text" name="domicilio2" value="{{busqueda2["domicilio"]}}">
                </p>

                <p>
                    <label>Codigo Postal: </label>
                    <input type="text" name="postal2" value="{{busqueda2["postal"]}}">
                </p>

                <p>
                    <label>Localidad: </label>
                    <input type="text" name="localidad2" value="{{busqueda2["localidad"]}}">
                </p>

                <p>
                    <label>Provincia: </label>
                    <input type="text" name="provincia2" value="{{busqueda2["provincia"]}}">
                </p>

                <p>
                    <label>País: </label>
                    <input type="text" name="pais2" value="{{busqueda2["pais"]}}">
                </p>

                <p>
                    <label>Teléfono: </label>
                    <input type="tel" name="tlf2" value="{{busqueda2["telefono"]}}">
                </p>

                <p>
                    <label>Email: </label>
                    <input type="email" name="correo2" value="{{busqueda2["correo"]}}">
                </p>

                <p>
                    <label>Web: </label>
                    <input type="text" name="web2" value="{{busqueda2["web"]}}">
                </p>

                <p>
                    <label>RUT: </label>
                    <input type="text" name="rut2" value="{{busqueda2["rut"]}}">
                </p>

                <p class="block">
                    <label>Observaciones: </label><Textarea></Textarea>
                </p>
                <p class="block">
                <input class="btn" type="submit" value="Guardar cambios"/>
                </p>
            </form>
        </div>
    </div>
</div>
<!-- {% endif %} -->
{% endblock %}